<a href="https://colab.research.google.com/github/Makarova39/project_01/blob/main/homeworks.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Задача 1.1.

# Есть строка с перечислением песен

my_favorite_songs = 'Waste a Moment, Staying\' Alive, A Sorta Fairytale, Start Me Up, New Salvation'

# Выведите на консоль с помощью индексации строки, последовательно: первый трек, последний, второй, второй с конца
# Нельзя переопределять my_favorite_songs и запятая не должна выводиться.12545
print(f'первый трек {my_favorite_songs[0:14]}')
print(f'последний трек {my_favorite_songs[-13:-1]}')
print(f'второй трек {my_favorite_songs[16:30]}')
print(f'второй трек в конца {my_favorite_songs[-26:-15]}')

первый трек Waste a Moment
последний трек New Salvatio
второй трек Staying' Alive
второй трек в конца Start Me Up

In [3]:
# Задача 1.2.

# Пункт A.
# Приведем плейлист песен в виде списка списков
# Список my_favorite_songs содержит список названий и длительности каждого трека
# Выведите общее время звучания трех случайных песен в формате
# Три песни звучат ХХХ минут

import random


my_favorite_songs = [
    ['Waste a Moment', 3.03],
    ['New Salvation', 4.02],
    ['Staying\' Alive', 3.40],
    ['Out of Touch', 3.03],
    ['A Sorta Fairytale', 5.28],
    ['Easy', 4.15],
    ['Beautiful Day', 4.04],
    ['Nowhere to Run', 2.58],
    ['In This World', 4.02],
]

list1 = random.choices(my_favorite_songs, k = 3)

sum = 0

for i in list1:
 
  sum += i[1]

print(f'общее время звучания трех случайных песен - {sum} минут')

# Пункт B.
# Есть словарь песен
# Распечатайте общее время звучания трех случайных песен
# Вывод: Три песни звучат ХХХ минут.

my_favorite_songs_dict = {
    'Waste a Moment': 3.03,
    'New Salvation': 4.02,
    'Staying\' Alive': 3.40,
    'Out of Touch': 3.03,
    'A Sorta Fairytale': 5.28,
    'Easy': 4.15,
    'Beautiful Day': 4.04,
    'Nowhere to Run': 2.58,
    'In This World': 4.02,
}


data = random.choices(list(my_favorite_songs_dict.values()), k = 3)
#print(data)
sum = 0

for i in data:
  
  sum += i

print(f'общее время звучания трех случайных песен - {sum} минут')

# Дополнительно для пунктов A и B
# Пункт C.
# Сгенерируйте случайные песни с помощью модуля random
# import random

# Дополнительно
# Пункт D.
# Переведите минуты и секунды в формат времени. Используйте модуль datetime

общее время звучания трех случайных песен - 13.469999999999999 минут
общее время звучания трех случайных песен - 12.459999999999999 минут

In [4]:
# Задача 1.3.

# Напишите скрипт, который принимает от пользователя номер месяца, 
# а возвращает количество дней в нем.
# Результат проверки вывести на консоль
# Допущение: в феврале 28 дней
# Если номер месяца некорректен - сообщить об этом

# Например,
    # Введите номер месяца: 3
    # Вы ввели март. 31 дней

    # Введите номер месяца: 2
    # Вы ввели февраль. 28 дней

    # Введите номер месяца: 15
    # Такого месяца нет!
month = {
    1: ['январь', 31],
    2: ['февраль', 28],
    3: ['март', 31],
    4: ['апрель', 30],
    5: ['май', 31],
    6: ['июнь', 30],
    7: ['июль', 31],
    8: ['август', 31],
    9: ['сентябрь', 30],
    10: ['октябрь', 31],
    11: ['ноябрь', 30],
    12: ['декабрь', 31]
}

while True:
  number = int(input('Введите номер месяца '))
  if number < 1 or number > 12:
    print('Такого месяца нет!')
    continue
  break

days_month = month[number]

print(f'Вы ввели {days_month[0]}. {days_month[1]} дней')

Введите номер месяца 8
Вы ввели август. 31 дней

In [5]:
# Задача 1.4.

# Есть словарь кодов товаров titles

titles = {
    'Кроссовки тип 3 (Adidas)': '100000110',
    'Мячик тип 2 (Adidas)': '100000146',
    'Кепка тип 1 (Adidas)': '100000149',
    'Ремень тип 2 (Nike)': '100000194',
    'Футболка тип 1 (Adidas)': '100000224',
    'Шапка тип 5 (Puma)': '100000280',
}

# Товары находятся на складе и сохранены в виде словаря списков словарей,
# которые отражают количество товаров в магазине по каждому коду.

store = {
    '100000110': [{'quantity': 31, 'price': 1637}],
    '100000146': [ {'quantity': 4, 'price': 45}, {'quantity': 10, 'price': 48}],
    '100000149': [ {'quantity': 28, 'price': 279}, {'quantity': 32, 'price': 291}],
    '100000194': [{'quantity': 8, 'price': 220}, {'quantity': 1, 'price': 170}],
    '100000224': [{'quantity': 61, 'price': 438}, {'quantity': 23, 'price': 302},  {'quantity': 50, 'price': 412}],
    '100000280': [{'quantity': 26, 'price': 175}, ]
}

# Рассчитайте на какую сумму лежит каждого товара на складе.
#
# Вывести суммарную стоимость каждого товара в магазине в формате:
# "<товар> - <кол-во> шт, стоимость <общая стоимость> руб"

# Пример: "Кроссовки тип 3 (Adidas) - 31 шт, стоимость 50747 руб"

tit = []
name = []

for i in titles:
    name.append(i)
    a = titles[i]
    tit.append(a)

index = -1
for k in tit:
    store_dict = store[k]
    quantity = 0
    price = 0
    index += 1
    for g in store_dict:
        quantity = g['quantity']
        price = g['price']
        a = quantity * price
        print(f'{name[index]} - {quantity} шт, стоимость {a}')

Кроссовки тип 3 (Adidas) - 31 шт, стоимость 50747
Мячик тип 2 (Adidas) - 4 шт, стоимость 180
Мячик тип 2 (Adidas) - 10 шт, стоимость 480
Кепка тип 1 (Adidas) - 28 шт, стоимость 7812
Кепка тип 1 (Adidas) - 32 шт, стоимость 9312
Ремень тип 2 (Nike) - 8 шт, стоимость 1760
Ремень тип 2 (Nike) - 1 шт, стоимость 170
Футболка тип 1 (Adidas) - 61 шт, стоимость 26718
Футболка тип 1 (Adidas) - 23 шт, стоимость 6946
Футболка тип 1 (Adidas) - 50 шт, стоимость 20600
Шапка тип 5 (Puma) - 26 шт, стоимость 4550

In [6]:
# Задача 2.1. 

# Создайте две функции maximum и minimum,
# которые получают список целых чисел в качестве входных данных 
# и возвращают наибольшее и наименьшее число в этом списке соответственно.
# Например,
# * [4,6,2,1,9,63,-134,566]         -> max = 566, min = -134
# * [-52, 56, 30, 29, -54, 0, -110] -> min = -110, max = 56
# * [42, 54, 65, 87, 0]             -> min = 0, max = 87
# * [5]                             -> min = 5, max = 5
# функции sorted, max и min использовать нельзя!

def minimum(ar):
    min = 0
    for i in range(0, len(ar)):
        if i == 7:
            return min
        if ar[i] < ar[i+1]:
            min = ar[i]
        else:
            min = ar[i+1]

    return min

def maximum(ar):
    max = 0
    for i in range(0, len(ar)):
        if i == 7:
            return max
        elif ar[i] > ar[i + 1]:
            max = ar[i]
        else:
            max = ar[i + 1]


list_number = [4,6,2,1,9,63,-134,566]
print(f'max = {maximum(list_number)}, min = {minimum(list_number)}')

max = 566, min = -134

In [7]:
# Задача 2.2. 

# Напишите функцию, которая возвращает номер квартал по номеру месяца
# Например: 
# месяц 2 (февраль) является частью первого квартала; 
# месяц 6 (июнь) является частью второго квартала; 
# месяц 11 (ноябрь) является частью четвертого квартала.

def quarter_of(m):
    month = {
        1: ['январь', 1],
        2: ['февраль', 1],
        3: ['март', 1],
        4: ['апрель', 2],
        5: ['май', 2],
        6: ['июнь', 2],
        7: ['июль', 3],
        8: ['август', 3],
        9: ['сентябрь', 3],
        10: ['октябрь', 4],
        11: ['ноябрь', 4],
        12: ['декабрь', 4]
    }
    d = month[m]

    return d

kvar = int(input())
print(f'месяц {kvar} ({quarter_of(kvar)[0]}) является частью {quarter_of(kvar)[1]} квартала.')

9
месяц 9 (сентябрь) является частью 3 квартала.

In [8]:
# Задача 2.3.

# Напишите функцию, которая принимает цифры от 0 до 9 и возвращает значение прописью.
# Например,
# switch_it_up(1) -> 'One'
# switch_it_up(3) -> 'Three'
# switch_it_up(10000) -> None
# Использовать условный оператор if-elif-else нельзя!

def switch_it_up(number):
    p = {
        1: 'One',
        2: 'Two',
        3: 'Three',
        4: 'Four',
        5: 'Five',
        6: 'Six',
        7: 'Seven',
        8: 'Eight',
        9: 'Nine',
        0: 'Zero'
    }

    return p[number]

n = int(input())
print(switch_it_up(n))

8
Eight

In [9]:
# Задача 2.4.

# Пункт A.
# Напишите функцию, которая удаляет все восклицательные знаки из заданной строк.
# Например,
# foo("Hi! Hello!") -> "Hi Hello"
# foo("") -> ""
# foo("Oh, no!!!") -> "Oh, no"

def remove_exclamation_marks(s):
    for i in s:
        if i == "!":
            s = s.replace('!', '')
    return s

str1 = 'Hi! Hello!'
print(f'OLD - {str1}\nNEW - {remove_exclamation_marks(str1)}')


# Пункт B.
# Удалите восклицательный знак из конца строки. 
# remove("Hi!") == "Hi"
# remove("Hi!!!") == "Hi!!"
# remove("!Hi") == "!Hi"

def remove_last_em(s):
    if s[-1] == '!':
        s = s.replace(s[-1], '')
    return s

str2 = 'Hi!'
print(f'OLD - {str2}\nNEW - {remove_last_em(str2)}')


# Дополнительно

# Пункт С.
# Удалите слова из предложения, если они содержат ровно один восклицательный знак.
# Слова разделены одним пробелом.
# Например,
# remove("Hi!") === ""
# remove("Hi! Hi!") === ""
# remove("Hi! Hi! Hi!") === ""
# remove("Hi Hi! Hi!") === "Hi"
# remove("Hi! !Hi Hi!") === ""
# remove("Hi! Hi!! Hi!") === "Hi!!"
# remove("Hi! !Hi! Hi!") === "!Hi!"

def remove_word_with_one_em(s):
    s = s.split()
    for i in s:
        a = 0
        for k in i:
            if k == '!':
                a += 1
        if a == 1:
            s.remove(i)

    str = ''
    for h in s:
        str += h + ' '

    return str

str3 = 'Hi! !Hi! Hi! Hi! !Hi'
print(f'OLD - {str3}\nNEW - {remove_word_with_one_em(str3)}')

OLD - Hi! Hello!
NEW - Hi Hello
OLD - Hi!
NEW - Hi
OLD - Hi! !Hi! Hi! Hi! !Hi
NEW - !Hi! Hi!

In [12]:
# 202, Петр, 2
# 203, Анастасия, 3
# 204, Игорь, 4
import sqlite3

data_base = sqlite3.connect('teacher') 
cur = data_base.cursor()

cur.execute('CREATE TABLE IF NOT EXISTS Students (Student_Id INTEGER NOT NULL, \
Student_Name TEXT NOT NULL, School_Id INTEGER NOT NULL PRIMARY KEY);') 
data_base.commit()

def add(Student_Id, Student_Name, School_Id):
  cur.execute('INSERT INTO Students VALUES ({}, "{}", {})'.format(Student_Id, Student_Name, School_Id))
  data_base.commit()

add(201, 'Иван', 1)
add(202, "Петр", 2)
add(203, "Анастасия", 3)
add(204, "Игорь", 4)

# Напишите программу, с помощью которой по ID студента можно получать информацию о школе и студенте.


# ID Студента:
# Имя студента:
# ID школы:
# Название школы:
# Название школы:

def get_student_info(student_id):
    cur.execute("SELECT Student_name, School_Id FROM Students WHERE Student_Id=?", (student_id,))
    student_info = cur.fetchone()
    return student_info

student_id = 204
student_info = get_student_info(student_id)
print(f"ID Студента: {student_id}\nИмя студента: {student_info[0]}\nID школы: {student_info[1]}")

ID Студента: 204
Имя студента: Игорь
ID школы: 4